<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable GPI0 pinning</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-GPI0.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable I2C</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-I2C1-SPED.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TPDA device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-TPDA.aml</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Base</key>
				<string>\_SB.PCI0.I2C1.TPDA</string>
				<key>BaseSkip</key>
				<integer>0</integer>
				<key>Comment</key>
				<string>_CRS to XCRS for TPDA</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X0NSUw==</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data>AAAAAA==</data>
				<key>Replace</key>
				<data>WENSUw==</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Base</key>
				<string>\_SB.PCI0.GPI0</string>
				<key>BaseSkip</key>
				<integer>0</integer>
				<key>Comment</key>
				<string>_STA to XSTA for GPI0</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X1NUQQ==</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data>AAAAAA==</data>
				<key>Replace</key>
				<data>WFNUQQ==</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>AAAAAA==</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
